body {
  font-family: Inter, Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  padding: 40px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

input {
  width: 200px;
  padding: 10px;
  background-color: #2c2c2c;
  border: 1px solid #6f6f6f;
  color: white;
  border-radius: 5px;
}

button {
  padding: 10px 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.message {
  margin: 15px 0;
  font-size: 14px;
}

.error {
  color: #ff4c4c;
}

.success {
  color: #00ff66;
}

h2 {
  margin-top: 25px;
  font-size: 22px;
}

.employee-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #2c2c2c;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  width: fit-content;
}

.employee-card span {
  min-width: 120px;
}

.delete-btn {
  background-color: white;
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
